<a href="https://colab.research.google.com/github/Akshithkumarreddy/Python_PGM/blob/main/%23005List_Tuple_set_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lists : Collection , ordered , indexed , Changeable , allows duplicate members

Tuple : Collection , ordered , indexed , unchangeable , allows duplicate members

Set : Collection , unordered , unindexed , unchangeable , No duplicate members

Dictionaries : Collection , unordered , indexed, changeable , No duplicate members

In [2]:
#Built in functions

l = list()
print(l,type(l))
print(len(l))

[] <class 'list'>
0

In [3]:
#using square brackets

l = []
print(l,type(l))
print(len(l))

[] <class 'list'>
0

In [4]:
fruits = ["apple","banana","mango"]
countries = ["india","srilanka","Nepal"]
print(fruits,countries)
print(len(fruits),len(countries))

['apple', 'banana', 'mango'] ['india', 'srilanka', 'Nepal']
3 3

In [5]:
for f in fruits:
    print(f,type(f))

apple <class 'str'>
banana <class 'str'>
mango <class 'str'>

In [6]:
l = ["python","100",True,{"country":'Finland','city':'Helsinki'}]
print(l)

for f in l:
    print(f,type(f))

['python', '100', True, {'country': 'Finland', 'city': 'Helsinki'}]
python <class 'str'>
100 <class 'str'>
True <class 'bool'>
{'country': 'Finland', 'city': 'Helsinki'} <class 'dict'>

In [8]:
fruits = ["banana","apple",'organe','mango']

first_fruit = fruits[0]
print(first_fruit)

second_fruit = fruits[1]
print(second_fruit)

third_fruit = fruits[2]
print(third_fruit)

fourth_fruit = fruits[3]
print(fourth_fruit)

print("____________________________")

first_fruit = fruits[-4]
print(first_fruit)

second_fruit = fruits[-3]
print(second_fruit)

third_fruit = fruits[-2]
print(third_fruit)

fourth_fruit = fruits[-1]
print(fourth_fruit)

banana
apple
organe
mango
____________________________
banana
apple
organe
mango

In [12]:
#unpacking the lists

fruits = ["banana","apple",'organe','mango']
print(fruits)

f1,f2,f3,f4 = fruits
print(f1,f2,f3,f4)

#f1,f2,f3 = fruits
f1,f2,*f3 = fruits
print(f1,f2,f3)

f1,*f2,f3 = fruits
print(f1,f2,f3)

['banana', 'apple', 'organe', 'mango']
banana apple organe mango
banana apple ['organe', 'mango']
banana ['apple', 'organe'] mango

In [19]:
fruits = ["banana","apple",'organe','mango']

all_fruits = fruits[0:4]
print(all_fruits)

fruits = ["banana","apple",'organe','mango']

all_fruits = fruits[:4]
print(all_fruits)

fruits = ["banana","apple",'organe','mango']

all_fruits = fruits[1:]
print(all_fruits)

fruits = ["banana","apple",'organe','mango']

all_fruits = fruits[1:3]
print(all_fruits)

fruits = ["banana","apple",'organe','mango']

all_fruits = fruits[-4:-1]
print(all_fruits)

fruits = ["banana","apple",'organe','mango']

all_fruits = fruits[-4:]
print(all_fruits)

print(all_fruits[::2])

print(all_fruits[::-2])

print(all_fruits[::-1]) #reverse order

['banana', 'apple', 'organe', 'mango']
['banana', 'apple', 'organe', 'mango']
['apple', 'organe', 'mango']
['apple', 'organe']
['banana', 'apple', 'organe']
['banana', 'apple', 'organe', 'mango']
['banana', 'organe']
['mango', 'apple']

In [23]:
fruits = ["banana","apple",'orange','mango']
print(fruits)

fruits[0] = "grapes"
print(fruits)

fruits[1:3] = ['grapes','watermelon']
print(fruits)

fruits[len(fruits)-1] = 'lemon'
print(fruits)

['banana', 'apple', 'orange', 'mango']
['grapes', 'apple', 'orange', 'mango']
['grapes', 'grapes', 'watermelon', 'mango']
['grapes', 'grapes', 'watermelon', 'lemon']

In [24]:
fruits = ["banana","apple",'orange','mango']

exsits = "apple" in fruits
print(exsits)

exsits = "lemon" in fruits
print(exsits)

True
False

In [27]:
fruits = ["banana","apple",'orange','mango']

print(len(fruits),fruits)

fruits.append("lemon")
print(len(fruits),fruits)

fruits.append("Gauva")
print(len(fruits),fruits)

4 ['banana', 'apple', 'orange', 'mango']
5 ['banana', 'apple', 'orange', 'mango', 'lemon']
6 ['banana', 'apple', 'orange', 'mango', 'lemon', 'Gauva']

In [30]:
fruits = ["banana","apple",'orange']
print(len(fruits),fruits)

fruits.insert(1,"lemon")
print(len(fruits),fruits)

fruits.insert(3,"lemon")
print(len(fruits),fruits)

3 ['banana', 'apple', 'orange']
4 ['banana', 'lemon', 'apple', 'orange']
5 ['banana', 'lemon', 'apple', 'lemon', 'orange']

In [34]:
fruit_list1 = ['Apple','Mango']
fruit_list2 = ['banana','orange']

fruit_list1.append(fruit_list2)
print(fruit_list1)

fruit_list1 = ['Apple','Mango']
fruit_list2 = ['banana','orange']

fruit_list1.extend(fruit_list2)
print(fruit_list1)

fruit_list1 = ['Apple','Mango']
fruit_list2 = ['banana','orange']

print(fruit_list1+fruit_list2)

['Apple', 'Mango', ['banana', 'orange']]
['Apple', 'Mango', 'banana', 'orange']
['Apple', 'Mango', 'banana', 'orange']

In [37]:
fruits = ["banana","apple",'orange','mango','apple','apple','"apple']

fruits.remove('orange')
print(fruits)

fruits.remove('apple')
print(fruits)

['banana', 'apple', 'mango', 'apple', 'apple', '"apple']
['banana', 'mango', 'apple', 'apple', '"apple']

In [39]:
fruits = ["banana","apple",'orange','mango','apple','apple','"apple']

fruits.pop()
print(fruits)

fruits.pop()
print(fruits)

fruits.pop(0)
print(fruits)

['banana', 'apple', 'orange', 'mango', 'apple', 'apple']
['banana', 'apple', 'orange', 'mango', 'apple']
['apple', 'orange', 'mango', 'apple']

In [41]:
fruits = ["banana","apple",'orange','mango','apple','apple','"apple']

del fruits[0]
print(fruits)

del fruits
print(fruits)

['apple', 'orange', 'mango', 'apple', 'apple', '"apple']

NameError: name 'fruits' is not defined

In [43]:
fruits = ["banana","apple",'orange','mango','apple','apple','"apple']

fruits.clear()
print(fruits)

fruits = ["banana","apple",'orange','mango','apple','apple','"apple']

del fruits[:]
print(fruits)

[]
[]

In [45]:
l1 = [10,20,30,40]
l2 = l1
print(l1,l2)

l1.append(50)
print(l1,l2)

[10, 20, 30, 40] [10, 20, 30, 40]
[10, 20, 30, 40, 50] [10, 20, 30, 40, 50]

In [48]:
l1 = [10,20,30,40]
l2 = l1.copy()
print(l1,l2)

l1.append(50)
print(l1,l2)

l2.append(60)
print(l1,l2)

[10, 20, 30, 40] [10, 20, 30, 40]
[10, 20, 30, 40, 50] [10, 20, 30, 40]
[10, 20, 30, 40, 50] [10, 20, 30, 40, 60]

In [54]:
l = [9,3,4,5,3,3,4,5,3,4,0,3,4,5,0,5,4,4,3]

print(l.count(3))

print(l.index(0)) #it returns 1st index of the value mentioned

l.reverse()
print(l)

print(l[::-1])

6
10
[3, 4, 4, 5, 0, 5, 4, 3, 0, 4, 3, 5, 4, 3, 3, 5, 4, 3, 9]
[9, 3, 4, 5, 3, 3, 4, 5, 3, 4, 0, 3, 4, 5, 0, 5, 4, 4, 3]

In [60]:
l = [9,3,4,5,3,3,4,5,3,4,0,3,4,5,0,5,4,4,3]

l.sort() #ascending order
print(l)

l = [9,3,4,5,3,3,4,5,3,4,0,3,4,5,0,5,4,4,3]
l.sort(reverse=True) #Decending order
print(l)

l = [9,3,4,5,3,3,4,5,3,4,0,3,4,5,0,5,4,4,3]
print(sorted(l),l)

l = [9,3,4,5,3,3,4,5,3,4,0,3,4,5,0,5,4,4,3]
print(sorted(l,reverse=True),l)

[0, 0, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 9]
[9, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 0, 0]
[0, 0, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 9] [9, 3, 4, 5, 3, 3, 4, 5, 3, 4, 0, 3, 4, 5, 0, 5, 4, 4, 3]
[9, 5, 5, 5, 5, 4, 4, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 0, 0] [9, 3, 4, 5, 3, 3, 4, 5, 3, 4, 0, 3, 4, 5, 0, 5, 4, 4, 3]

In [61]:
l = [9,3,4,5,3,3,4,5,3,4,0,3,4,5,0,5,4,4,3]

l = list(set(l))
print(l)

[0, 3, 4, 5, 9]