In [1]:
num = [1,2,3]

In [3]:
results = []
for i in num:
    i = i * 2
    results.append(i)
print(results)

[2, 4, 6]

In [ ]:
#syntax

[expression for variable in iterables]

In [5]:
#alternative for above is

[i * 2 for i in num]

[2, 4, 6]

In [8]:
#example2

s = ["equi","value","info","solutions"]

results = []
for i in s:
    i=i.upper()
    results.append(i)
print(results)

['EQUI', 'VALUE', 'INFO', 'SOLUTIONS']

In [9]:
s = ["equi","value","info","solutions"]
results = [i.upper() for i in s]
print(results)

['EQUI', 'VALUE', 'INFO', 'SOLUTIONS']

In [10]:
s = ["equi","value","info","solutions"]
results = [i.upper() + "aa" for i in s]
print(results)

['EQUIaa', 'VALUEaa', 'INFOaa', 'SOLUTIONSaa']

In [13]:
num = [1,2,3,4,5]

def sam(num):
    return num * 5

results = []

for i in num:
    i = sam(i)
    results.append(i)

print(results)

[5, 10, 15, 20, 25]

In [14]:
num = [1,2,3,4,5]

def sam(num):
    return num * 5

results = [sam(i) for i in num]
print(results)

[5, 10, 15, 20, 25]

In [15]:
num = [1,2,3,4,5]

def sam(num):
    return num * 5

results = [sam(i) for i in num if i > 2]
print(results)

[15, 20, 25]

In [16]:
d = [{"name":"Equivalue"},{"name":"Sukesh"}]

results = []

for i in d:
    results.append(i["name"])

print(results)

['Equivalue', 'Sukesh']

In [18]:
d = [{"name":"Equivalue"},{"name":"Sukesh"}]

results = [i["name"] for i in d]

print(results)

['Equivalue', 'Sukesh']

In [19]:
d = [{"name":"Equivalue"},{"name":"Sukesh"}]

results = [i["name"] + "Test" for i in d]

print(results)

['EquivalueTest', 'SukeshTest']

In [20]:
#list comprehension using if else

l1 = [1,2,3,4,5]

print([i for i in l1])

[1, 2, 3, 4, 5]

In [22]:
l1 = [1,2,3,4,5]

print([i * 3 if i >= 3 else i for i in l1])

[1, 2, 9, 12, 15]

In [23]:
#if statement right of for loops works as filters , no else in filter (on right side)

l1 = [1,2,3,4,5]

print([i * 3 for i in l1 if i >= 3])

[9, 12, 15]

In [26]:
l1 = [1,2,3,4,5]

print([i * 3 if i >= 3 else i for i in l1 if i >= 2])

[2, 9, 12, 15]

In [28]:
#lambda function 

a = [1,2,3]

list(map(lambda i : i * 5 , a))

[5, 10, 15]

In [30]:
a = [1,2,3]

#list(map(lambda i : i * 5 if i == 3 else i, a))
print([i * 5 if i == 3 else i for i in a])

[1, 2, 15]

In [33]:
a = [1,2,3]

list(map(lambda i : i * 5 if i == 3 else i, filter(lambda i : i > 1 ,a)))
#print([i * 5 if i == 3 else i for i in a if i > 1])

[2, 15]

In [34]:
#mutiple if statements

num = [1,2,3,4,5]
print([i for i in num if i > 2 if i != 3])

[4, 5]

In [36]:
num = [1,2,3,4,5]
fruit = ["apple","orange","banana","pineapple","peaches","pears"]

for i in num:
    for j in fruit:
        print(i,j)

1 apple
1 orange
1 banana
1 pineapple
1 peaches
1 pears
2 apple
2 orange
2 banana
2 pineapple
2 peaches
2 pears
3 apple
3 orange
3 banana
3 pineapple
3 peaches
3 pears
4 apple
4 orange
4 banana
4 pineapple
4 peaches
4 pears
5 apple
5 orange
5 banana
5 pineapple
5 peaches
5 pears

In [39]:
num = [1,2,3,4,5]
fruit = ["apple","orange","banana","pineapple","peaches","pears"]

[(i,j) for i in num for j in fruit]

[(1, 'apple'),
 (1, 'orange'),
 (1, 'banana'),
 (1, 'pineapple'),
 (1, 'peaches'),
 (1, 'pears'),
 (2, 'apple'),
 (2, 'orange'),
 (2, 'banana'),
 (2, 'pineapple'),
 (2, 'peaches'),
 (2, 'pears'),
 (3, 'apple'),
 (3, 'orange'),
 (3, 'banana'),
 (3, 'pineapple'),
 (3, 'peaches'),
 (3, 'pears'),
 (4, 'apple'),
 (4, 'orange'),
 (4, 'banana'),
 (4, 'pineapple'),
 (4, 'peaches'),
 (4, 'pears'),
 (5, 'apple'),
 (5, 'orange'),
 (5, 'banana'),
 (5, 'pineapple'),
 (5, 'peaches'),
 (5, 'pears')]

In [41]:
num = [1,2,3,4,5]
fruit = ["apple","orange","banana","pineapple","peaches","pears"]

[(i,j) for i in num if i>1 if i!=4 for j in fruit]

[(2, 'apple'),
 (2, 'orange'),
 (2, 'banana'),
 (2, 'pineapple'),
 (2, 'peaches'),
 (2, 'pears'),
 (3, 'apple'),
 (3, 'orange'),
 (3, 'banana'),
 (3, 'pineapple'),
 (3, 'peaches'),
 (3, 'pears'),
 (5, 'apple'),
 (5, 'orange'),
 (5, 'banana'),
 (5, 'pineapple'),
 (5, 'peaches'),
 (5, 'pears')]

In [43]:
num = [1,2,3,4,5]
fruit = ["apple","orange","banana","pineapple","peaches","pears"]

[(i,j) for i in num if i>1 if i!=4 for j in fruit if j != "banana"]

[(2, 'apple'),
 (2, 'orange'),
 (2, 'pineapple'),
 (2, 'peaches'),
 (2, 'pears'),
 (3, 'apple'),
 (3, 'orange'),
 (3, 'pineapple'),
 (3, 'peaches'),
 (3, 'pears'),
 (5, 'apple'),
 (5, 'orange'),
 (5, 'pineapple'),
 (5, 'peaches'),
 (5, 'pears')]