In [ ]:
#pandas

#Pandas is one of the most important libraries of Python.

#it has data structures for data analysis. The most used of these are Series and DataFrame data structures.
#Series is one dimensional, that is, it consists of a column. Data frame is two-dimensional
#it consists of rows and columns.

In [1]:
import pandas as pd

In [2]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [3]:
pd.__version__

'2.2.2'

In [4]:
import numpy as np

In [6]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (1.26.4)

In [5]:
np.__version__

'1.26.4'

In [ ]:
a=pd.Series([3,"equivalue",4.0,"test"])
print(a)

0            3
1    equivalue
2          4.0
3         test
dtype: object

In [ ]:
#accessing elements

print(a[0])
print(a.values)
type(a.values)
type(a)

3
[3 'equivalue' 4.0 'test']

pandas.core.series.Series

In [ ]:
b=pd.Series([3,"equivalue",4.0,"test"],index=["a","b","c","d"])
print(b)

a            3
b    equivalue
c          4.0
d         test
dtype: object

In [ ]:
print(b[0])
print(b["c"])
print(b.index)

3
4.0
Index(['a', 'b', 'c', 'd'], dtype='object')

In [ ]:
marks={"suresh":90, "magesh":80,"girish":85,"ramesh":75,"sukesh":95}
emp=pd.Series(marks) # Convert to Series
print(emp)
#print(type(emp))

suresh    90
magesh    80
girish    85
ramesh    75
sukesh    95
dtype: int64

In [ ]:
#emp["ramesh"]
emp[-1]

95

In [ ]:
#emp[emp>80]
emp[emp<75]

Series([], dtype: int64)

In [ ]:
emp[emp>70]=90
print(emp)

suresh    90
magesh    90
girish    90
ramesh    90
sukesh    90
dtype: int64

In [ ]:
emp[emp>80]
#emp[emp>80]=75
print(emp)

In [ ]:
"suresh" in emp

True

In [ ]:
emp/10

In [ ]:
#emp**5
print(emp*5)

In [ ]:
emp.isnull()

'test'