<a href="https://colab.research.google.com/github/Akshithkumarreddy/Python_PGM/blob/main/07_02_Python_01_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

# **Python Indentation**

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5>2:
  print('Five is greater than two')
  print('Five is NOT greater than two')

Five is greater than two
Five is NOT greater than two

Python will give you an error if you skip the indentation:

In [ ]:
if 5>2:
print('Five is greater than two')

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-3-6f7ff996d4ae>, line 2)

The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

In [ ]:
if 5>2:
  print('hello world')
if 7>3:
      print('testing')

hello world
testing

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [ ]:
if 5>2:
  print('hello world')
if 7>3:
      print('testing')
 #   print('testing intentation')

# **Python Variables**

In Python, variables are created when you assign a value to it:

In [ ]:
x = 5
y = 'Hello world'

**Python has no command for declaring a variable**

# **Comments**
Python has commenting capability for the purpose of in-code documentation.

Comments start *with* a #, and Python will render the rest of the line as a comment:


* Comments can be used to explain Python code.

* Comments can be used to make the code more readable.

* Comments can be used to prevent execution when testing code.

In [ ]:
#Python program comment class
print('Hello')

Hello

Creating a Comment
Comments starts with a #, and Python will ignore them:

Comments can be placed at the end of a line, and Python will ignore the rest of the line:

In [ ]:
print('hello world') #printing hello world

hello world

A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

# **Multiline Comments**
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

In [ ]:
#a
#b
#c
#d
print('hello')

hello

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
'''a
b
c
d'''
print('hello')

hello

# **Variables**
Variables are containers for storing data values.

Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
print(type(x),x)
x = 'hello world'
print(type(x),x)

<class 'int'> 5
<class 'str'> hello world

In [ ]:
x = "hyderabad"
print(type(x),x)
x = 'hyderabad'
print(type(x),x)

<class 'str'> hyderabad
<class 'str'> hyderabad

In [ ]:
x = 5
x = 'india'
print(x)

india

In [ ]:
x = 5
x = 'india'
X=6
print(x)

india

In [ ]:
print('Hyderabad's')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-23-79dfb1359197>, line 1)

In [ ]:
print("Hyderabad's")

Hyderabad's

Variables do not need to be declared with any particular type, and can even change type after they have been set.

#**Variable Names**

1. A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

2. A variable name must start with a letter or the underscore character

3. A variable name cannot start with a number

4. A  variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
5. Variable names are case-sensitive (age, Age and AGE are three different variables)
6. A variable name cannot be any of the Python keywords.

In [ ]:
myvar = 'Ram'
my_var = 'Ram'
_my_var = "Ram"
myVar = "Ram"
MYVAR = "Ram"
myvar2 = "Ram"

In [ ]:
2myvar = 'Ram'
my-var = 'Ram'
my var = 'Ram'

SyntaxError: invalid decimal literal (<ipython-input-26-da25537dd045>, line 1)

# Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**
Each word, except the first, starts with a capital letter:

In [ ]:
»

orange <class 'str'>
apple <class 'str'>
1234 <class 'int'>

**Pascal Case**
Each word starts with a capital letter:

orange
orange
orange

orange
orange
orange
orange
orange
banana

'banana'

**Snake Case**
Each word is separated by an underscore character:

# **Many Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line:

In [ ]:
x , y , z = "orange" , "orange" , "orange"
print(x)
print(y)
print(z)

orange
orange
orange

# **One Value to Multiple Variables**
And you can assign the same value to multiple variables in one line:

In [ ]:
x , y , z = "orange" , "orange" , "orange"
print(x)
print(y)
print(z)

orange
orange
orange

In [ ]:
x = y = z = "orange"
print(x)
print(y)
print(z)
z = "banana"
print(x)
print(y)
print(z)
z

orange
orange
orange
orange
orange
banana

'banana'

# **Unpack a Collection**

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [ ]:
fruits = ["apple","banana","cherry"]
x , y , z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# **Python Output Variables**
The Python print() function is often used to output variables.

In [ ]:
print(x)
x = "python"
y = "is"
z = "awesome"
print(x,y,z)
print(x+y+z)
x= 10
y = 5
print(x+y)

python
python is awesome
pythonisawesome
15

In [ ]:
x= 10
y = "hello"
#print(x+y)
print(x,y)

10 hello

# **Python-Global Variables**

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "Awesome" # global variable

def func():
    print("python is",x)

func()

python is Awesome

In [ ]:
x = "Awesome" # global variable

def func():
    x = "fantastic" #local variable
    print("python is",x)

print("i am ",x)
func()

i am  Awesome
python is fantastic

# **The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

In [ ]:
x = 'Awesome'

def func():
    global x
    x = "fantastic"
    print("python is",x)

print("i am",x)
func()
print("i am",x)

i am Awesome
python is fantastic
i am fantastic

# **Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1. Text Type:	str
2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview
8. None Type:	NoneType

# Getting the Data Type
You can get the data type of any object by using the type() function:

In [ ]:
x = 5
print(type(x))

<class 'int'>

# Setting the Data Type
In Python, the data type is set when you assign a value to a variable:

In [ ]:
x ="hello world"
print(type(x))
x = 10
print(type(x))
x = 10.5
print(type(x))
x = 1j
print(type(x))
x = [1,2,3]
print(type(x))
x = (1,2,3)
print(type(x))
x = range(6)
print(type(x))
x = {"name":"john","age":36}
print(type(x))
x = {1,3,5}
print(type(x))
x = frozenset({1,3,5})
print(type(x))
x = True
print(type(x))
x = b"hello"
print(x,type(x))
x = memoryview(bytes(5))
print(x,type(x))
x = bytearray(x)
print(x,type(x))
x = None
print(x,type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'set'>
<class 'frozenset'>
<class 'bool'>
b'hello' <class 'bytes'>
<memory at 0x7f0a56104ac0> <class 'memoryview'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
None <class 'NoneType'>

# Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

In [ ]:
x =str("hello world")
print(type(x))
x = int(10)
print(type(x))
x = float(10.5)
print(type(x))
x = complex(1j)
print(type(x))
x = list((1,2,3))
print(type(x))
x = tuple((1,2,3))
print(type(x))
x = range(6)
print(type(x))
x = dict(name="john",age=36)
print(type(x))
x = frozenset({1,3,5})
print(type(x))
x = True
print(type(x))
x = b"hello"
print(x,type(x))
x = memoryview(bytes(5))
print(x,type(x))
x = bytearray(x)
print(x,type(x))
x = None
print(x,type(x))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'list'>
<class 'tuple'>
<class 'range'>
<class 'dict'>
<class 'frozenset'>
<class 'bool'>
b'hello' <class 'bytes'>
<memory at 0x7f0a56104a00> <class 'memoryview'>
bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>
None <class 'NoneType'>

In [ ]:
x = 1
y = 2.8
z = 1j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = 35e3
print(x)

Y = 12E4
print(Y)

35000.0
120000.0

In [ ]:
x = 3+5j
y = 5j
z = -3j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [ ]:
x = 1
y = 45.7
z = -3j
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [ ]:
x = float(1)
y = int(45.7)
z = complex(-3j)
print(x,type(x))
print(y,type(y))
print(z,type(z))

1.0 <class 'float'>
45 <class 'int'>
(-0-3j) <class 'complex'>

In [ ]:
import random
print(random.randrange(1,100))

36

# **Casting**
If you want to specify the data type of a variable, this can be done with casting.

Specify a Variable Type:
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

1. int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

In [8]:
x = int(1)
y = int(2.8)
z = int("3")
print(x,y,z)

1 2 3

In [7]:
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x,y,z,w)

1.0 2.8 3.0 4.2

In [9]:
x = str("s1")
y = str(2)
z = str(3.0)
print(x,y,z,type(z))

s1 2 3.0 <class 'str'>

# **Get the Type**
You can get the data type of a variable with the type() function.

# **Single or Double Quotes?**
String variables can be declared either by using single or double quotes:

# **Case-Sensitive**

Variable names are case-sensitive.

# **Python Numbers**
There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

# Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

# Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

# Complex
Complex numbers are written with a "j" as the imaginary part:

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

# Random Number

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

#  **Python String**

In [14]:
'hello' == "hello"
print("it's alright")
a = "hello"
print(a)

it's alright
hello

In [15]:
"""I am Good.
I am learning Python.
Its Tuesday in IST."""

'I am Good.\nI am learning Python.\nIts Tuesday in IST.'

In [16]:
z = """I am Good.
I am learning Python.
Its Tuesday in IST."""

print(z)

I am Good.
I am learning Python.
Its Tuesday in IST.

In [17]:
a = "hello world"
print(a[0], a[1])

h e

In [18]:
a = "hello world"
for i in a:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [19]:
a = "hello world"
print(len(a)) # lenght of string

11

In [20]:
txt = "python is the best programming language"
print("best" in txt)
print("Best" in txt)

True
False

In [22]:
txt = "python is the best programming language"
print("best" not in txt)
print("Best" not in txt)

False
True

In [21]:
txt = "python is the best programming language"
if "best" in txt:
    print("Yes, 'best' is present")

Yes, 'best' is present

In [29]:
b = "Hello, world!"
print(b[2:5])
print(b[0:5])
print(b[:5])
print(b[5:15]) # iT WILL NOT THROW EXCEPTION
print(b[:])
print(b[-5:-2])
print(b[-5:])

llo
Hello
Hello
, world!
Hello, world!
orl
orld!

In [31]:
a = "Hello world"
print(a.upper())
print(a.lower())

HELLO WORLD
hello world

In [32]:
a = "    Hello world.    \t\t\n\n"
print(a.strip()) # remove leading and trailing whitespaces
print(len(a.strip()))

Hello world.
12

In [33]:
a = "Hello World"
print(a.replace("H","J"))

Jello World

In [36]:
a = "hello world"
print(a.split())
b = "Hi, I am doing good"
print(b.split())
c = "10,20,30,40,50"
print(c.split()) # this will not split
print(c.split(","))

['hello', 'world']
['Hi,', 'I', 'am', 'doing', 'good']
['10,20,30,40,50']
['10', '20', '30', '40', '50']

In [44]:
a = "hello world"
print(a.capitalize()) #only 1st character in string to upper case
print(a.casefold()) #fold case to lower
print(a.count('l'))
print(a.encode()) #encoded into byte format
print(a.endswith('d'))
print(a.find('o')) #give index of 1st find
print(a.find('o',5)) # 5 is starting index
print(a.index('o',5))
print(a.isalnum()) # check for alpha numeric
print(a.isalpha())
a= "45"
print(a.isdigit())
print(a.isidentifier())
print(a.islower())
print(a.isnumeric())
print(a.isprintable())
print(a.isspace())
print(a.istitle())
print(a.isupper())

Hello world
hello world
3
b'hello world'
True
4
7
7
False
False
True
False
False
True
True
False
False
False

In [45]:
x = "999"
print(x.zfill(10))

0000000999

In [48]:
for i in range(1,11):
    print(str(i).zfill(3))

001
002
003
004
005
006
007
008
009
010

In [49]:
names = []
for i in range(1,101):
    names.append(str(i)+".jpg")
print(names)

['1.jpg', '2.jpg', '3.jpg', '4.jpg', '5.jpg', '6.jpg', '7.jpg', '8.jpg', '9.jpg', '10.jpg', '11.jpg', '12.jpg', '13.jpg', '14.jpg', '15.jpg', '16.jpg', '17.jpg', '18.jpg', '19.jpg', '20.jpg', '21.jpg', '22.jpg', '23.jpg', '24.jpg', '25.jpg', '26.jpg', '27.jpg', '28.jpg', '29.jpg', '30.jpg', '31.jpg', '32.jpg', '33.jpg', '34.jpg', '35.jpg', '36.jpg', '37.jpg', '38.jpg', '39.jpg', '40.jpg', '41.jpg', '42.jpg', '43.jpg', '44.jpg', '45.jpg', '46.jpg', '47.jpg', '48.jpg', '49.jpg', '50.jpg', '51.jpg', '52.jpg', '53.jpg', '54.jpg', '55.jpg', '56.jpg', '57.jpg', '58.jpg', '59.jpg', '60.jpg', '61.jpg', '62.jpg', '63.jpg', '64.jpg', '65.jpg', '66.jpg', '67.jpg', '68.jpg', '69.jpg', '70.jpg', '71.jpg', '72.jpg', '73.jpg', '74.jpg', '75.jpg', '76.jpg', '77.jpg', '78.jpg', '79.jpg', '80.jpg', '81.jpg', '82.jpg', '83.jpg', '84.jpg', '85.jpg', '86.jpg', '87.jpg', '88.jpg', '89.jpg', '90.jpg', '91.jpg', '92.jpg', '93.jpg', '94.jpg', '95.jpg', '96.jpg', '97.jpg', '98.jpg', '99.jpg', '100.jpg']

In [50]:
names = []
for i in range(1,101):
    names.append(str(i)+".jpg")
names.sort()
print(names)

['1.jpg', '10.jpg', '100.jpg', '11.jpg', '12.jpg', '13.jpg', '14.jpg', '15.jpg', '16.jpg', '17.jpg', '18.jpg', '19.jpg', '2.jpg', '20.jpg', '21.jpg', '22.jpg', '23.jpg', '24.jpg', '25.jpg', '26.jpg', '27.jpg', '28.jpg', '29.jpg', '3.jpg', '30.jpg', '31.jpg', '32.jpg', '33.jpg', '34.jpg', '35.jpg', '36.jpg', '37.jpg', '38.jpg', '39.jpg', '4.jpg', '40.jpg', '41.jpg', '42.jpg', '43.jpg', '44.jpg', '45.jpg', '46.jpg', '47.jpg', '48.jpg', '49.jpg', '5.jpg', '50.jpg', '51.jpg', '52.jpg', '53.jpg', '54.jpg', '55.jpg', '56.jpg', '57.jpg', '58.jpg', '59.jpg', '6.jpg', '60.jpg', '61.jpg', '62.jpg', '63.jpg', '64.jpg', '65.jpg', '66.jpg', '67.jpg', '68.jpg', '69.jpg', '7.jpg', '70.jpg', '71.jpg', '72.jpg', '73.jpg', '74.jpg', '75.jpg', '76.jpg', '77.jpg', '78.jpg', '79.jpg', '8.jpg', '80.jpg', '81.jpg', '82.jpg', '83.jpg', '84.jpg', '85.jpg', '86.jpg', '87.jpg', '88.jpg', '89.jpg', '9.jpg', '90.jpg', '91.jpg', '92.jpg', '93.jpg', '94.jpg', '95.jpg', '96.jpg', '97.jpg', '98.jpg', '99.jpg']

In [51]:
names = []
for i in range(1,101):
    names.append(str(i).zfill(3)+".jpg")
names.sort()
print(names)

['001.jpg', '002.jpg', '003.jpg', '004.jpg', '005.jpg', '006.jpg', '007.jpg', '008.jpg', '009.jpg', '010.jpg', '011.jpg', '012.jpg', '013.jpg', '014.jpg', '015.jpg', '016.jpg', '017.jpg', '018.jpg', '019.jpg', '020.jpg', '021.jpg', '022.jpg', '023.jpg', '024.jpg', '025.jpg', '026.jpg', '027.jpg', '028.jpg', '029.jpg', '030.jpg', '031.jpg', '032.jpg', '033.jpg', '034.jpg', '035.jpg', '036.jpg', '037.jpg', '038.jpg', '039.jpg', '040.jpg', '041.jpg', '042.jpg', '043.jpg', '044.jpg', '045.jpg', '046.jpg', '047.jpg', '048.jpg', '049.jpg', '050.jpg', '051.jpg', '052.jpg', '053.jpg', '054.jpg', '055.jpg', '056.jpg', '057.jpg', '058.jpg', '059.jpg', '060.jpg', '061.jpg', '062.jpg', '063.jpg', '064.jpg', '065.jpg', '066.jpg', '067.jpg', '068.jpg', '069.jpg', '070.jpg', '071.jpg', '072.jpg', '073.jpg', '074.jpg', '075.jpg', '076.jpg', '077.jpg', '078.jpg', '079.jpg', '080.jpg', '081.jpg', '082.jpg', '083.jpg', '084.jpg', '085.jpg', '086.jpg', '087.jpg', '088.jpg', '089.jpg', '090.jpg', '091.jpg', '092.jpg', '093.jpg', '094.jpg', '095.jpg', '096.jpg', '097.jpg', '098.jpg', '099.jpg', '100.jpg']

# **Python Boolean**