<a href="https://colab.research.google.com/github/Akshithkumarreddy/Python_PGM/blob/main/07_02_Python_01_Skeleton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics

# **Python Indentation**

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code.

In [ ]:
if 5>2:
  print('Five is greater than two')
  print('Five is NOT greater than two')

Five is greater than two
Five is NOT greater than two

Python will give you an error if you skip the indentation:

In [ ]:
if 5>2:
print('Five is greater than two')

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-3-6f7ff996d4ae>, line 2)

The number of spaces is up to you as a programmer, the most common use is four, but it has to be at least one.

In [ ]:
if 5>2:
  print('hello world')
if 7>3:
      print('testing')

hello world
testing

You have to use the same number of spaces in the same block of code, otherwise Python will give you an error:

In [ ]:
if 5>2:
  print('hello world')
if 7>3:
      print('testing')
 #   print('testing intentation')

# **Python Variables**

In Python, variables are created when you assign a value to it:

In [ ]:
x = 5
y = 'Hello world'

**Python has no command for declaring a variable**

# **Comments**
Python has commenting capability for the purpose of in-code documentation.

Comments start *with* a #, and Python will render the rest of the line as a comment:


* Comments can be used to explain Python code.

* Comments can be used to make the code more readable.

* Comments can be used to prevent execution when testing code.

In [ ]:
#Python program comment class
print('Hello')

Hello

Creating a Comment
Comments starts with a #, and Python will ignore them:

Comments can be placed at the end of a line, and Python will ignore the rest of the line:

In [ ]:
print('hello world') #printing hello world

hello world

A comment does not have to be text that explains the code, it can also be used to prevent Python from executing code:

# **Multiline Comments**
Python does not really have a syntax for multiline comments.

To add a multiline comment you could insert a # for each line:

In [ ]:
#a
#b
#c
#d
print('hello')

hello

Or, not quite as intended, you can use a multiline string.

Since Python will ignore string literals that are not assigned to a variable, you can add a multiline string (triple quotes) in your code, and place your comment inside it:

In [ ]:
'''a
b
c
d'''
print('hello')

hello

# **Variables**
Variables are containers for storing data values.

Creating Variables
Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5
print(type(x),x)
x = 'hello world'
print(type(x),x)

<class 'int'> 5
<class 'str'> hello world

In [ ]:
x = "hyderabad"
print(type(x),x)
x = 'hyderabad'
print(type(x),x)

<class 'str'> hyderabad
<class 'str'> hyderabad

In [ ]:
x = 5
x = 'india'
print(x)

india

In [ ]:
x = 5
x = 'india'
X=6
print(x)

india

In [ ]:
print('Hyderabad's')

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-23-79dfb1359197>, line 1)

In [ ]:
print("Hyderabad's")

Hyderabad's

Variables do not need to be declared with any particular type, and can even change type after they have been set.

#**Variable Names**

1. A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:

2. A variable name must start with a letter or the underscore character

3. A variable name cannot start with a number

4. A  variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
5. Variable names are case-sensitive (age, Age and AGE are three different variables)
6. A variable name cannot be any of the Python keywords.

In [ ]:
myvar = 'Ram'
my_var = 'Ram'
_my_var = "Ram"
myVar = "Ram"
MYVAR = "Ram"
myvar2 = "Ram"

In [ ]:
2myvar = 'Ram'
my-var = 'Ram'
my var = 'Ram'

SyntaxError: invalid decimal literal (<ipython-input-26-da25537dd045>, line 1)

# Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

**Camel Case**
Each word, except the first, starts with a capital letter:

In [3]:
»

orange <class 'str'>
apple <class 'str'>
1234 <class 'int'>

**Pascal Case**
Each word starts with a capital letter:

orange
orange
orange

orange
orange
orange
orange
orange
banana

'banana'

**Snake Case**
Each word is separated by an underscore character:

# **Many Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line:

In [8]:
x , y , z = "orange" , "orange" , "orange"
print(x)
print(y)
print(z)

orange
orange
orange

# **One Value to Multiple Variables**
And you can assign the same value to multiple variables in one line:

In [9]:
x , y , z = "orange" , "orange" , "orange"
print(x)
print(y)
print(z)

orange
orange
orange

In [10]:
x = y = z = "orange"
print(x)
print(y)
print(z)
z = "banana"
print(x)
print(y)
print(z)
z

orange
orange
orange
orange
orange
banana

'banana'

# **Unpack a Collection**

If you have a collection of values in a list, tuple etc. Python allows you to extract the values into variables. This is called unpacking.

In [11]:
fruits = ["apple","banana","cherry"]
x , y , z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

# **Python Output Variables**
The Python print() function is often used to output variables.

In [14]:
print(x)
x = "python"
y = "is"
z = "awesome"
print(x,y,z)
print(x+y+z)
x= 10
y = 5
print(x+y)

python
python is awesome
pythonisawesome
15

In [15]:
x= 10
y = "hello"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# **Python-Global Variables**

Variables that are created outside of a function (as in all of the examples in the previous pages) are known as global variables.

Global variables can be used by everyone, both inside of functions and outside.

# **The global Keyword**

Normally, when you create a variable inside a function, that variable is local, and can only be used inside that function.

To create a global variable inside a function, you can use the global keyword.

# **Built-in Data Types**

In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

1. Text Type:	str
2. Numeric Types:	int, float, complex
3. Sequence Types:	list, tuple, range
4. Mapping Type:	dict
5. Set Types:	set, frozenset
6. Boolean Type:	bool
7. Binary Types:	bytes, bytearray, memoryview
8. None Type:	NoneType

# Getting the Data Type
You can get the data type of any object by using the type() function:

# Setting the Data Type
In Python, the data type is set when you assign a value to a variable:

# Setting the Specific Data Type
If you want to specify the data type, you can use the following constructor functions:

# **Casting**
If you want to specify the data type of a variable, this can be done with casting.

Specify a Variable Type:
There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

1. int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a string literal (providing the string represents a whole number)

2. float() - constructs a float number from an integer literal, a float literal or a string literal (providing the string represents a float or an integer)

3. str() - constructs a string from a wide variety of data types, including strings, integer literals and float literals

# **Get the Type**
You can get the data type of a variable with the type() function.

# **Single or Double Quotes?**
String variables can be declared either by using single or double quotes:

# **Case-Sensitive**

Variable names are case-sensitive.

# **Python Numbers**
There are three numeric types in Python:

int
float
complex
Variables of numeric types are created when you assign a value to them:

# Int
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

# Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

# Complex
Complex numbers are written with a "j" as the imaginary part:

# Type Conversion
You can convert from one type to another with the int(), float(), and complex() methods:

# Random Number

Python does not have a random() function to make a random number, but Python has a built-in module called random that can be used to make random numbers:

#  **Python String**

# **Python Boolean**